<jspl:template file="layout" />
<html>
<title>JSPL / Express integration example...</title>
<body>

<jspl:include file="header"/>

<h3>Include a variable</h3>
<h4>Code:</h4>
<pre>
  &lt;h1&gt;&lt;%= title %&gt;&lt;/h1&gt;
</pre>

<h4>Output:</h4>
<pre><%= title %></pre>
<hr/>

<h3>File include</h3>
<h4>Code:</h4>
<pre>
  &lt;jspl:include file=&quot;people&quot; &gt;
</pre>

<h4>Output:</h4>
<pre>
<jspl:include file="people" />
</pre>
<hr/>

<p>Now you should look at the content of views/people.html and router/index.js..</p>

</body>
</html>

<!-- code encoded with http://www.web2generators.com/html/entities -->
